@charset "UTF-8";


.wrapper {
  width: 100%;
  background:#cff1ff ;
}

.inner-box{
  width: 600px;
  margin: 0 auto;
}

.form-box{
  padding: 50px;
  background: #ecfaff;
  margin-top: 60px;
}

.page-title{
  font-size: 28px;
  text-align: center;
  padding-top: 60px;
}

.form-title{
  font-size: 24px;
  text-align: center;
}

.content-title{
  font-size: 18px;
  color: #000;
}

.account-text{
  margin-top: 25px;
  font-size: 10px;
}

.required{
  color: #e4000e;
}

.name-section{
  margin-top: 25px;
}

.name-text{
  font-size: 14px;
  color: #464646;
}

.is-flex{
  display: flex;
}

.input-text{
  width: 100%;
  height: 35px;
  padding: 5px;
  margin-top: 6px;
  color: #545658;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  background: #fbfbfb;
}

.input-text:focus{
  background-color: #fff;
  border-color: rgba(93, 130, 194, 0.4);
  box-shadow: 0px 0px 0px 2px rgba(1, 90, 191, 0.1);
}

.gender-section, .select-text{
  margin-top: 6px;
}

.select-ber{
  width: 100%;
  position: relative;
}

.select-ber::after{
  width: 5px;
  height: 5px;
  right: 10px;
  top: 45%;
  content: "";
  position: absolute;
  display: inline-block;
  border-bottom: 2px solid #c3c3c3;
  border-right: 2px solid #c3c3c3;
  transform: rotate(45deg);
}

.gender-text{
  margin-left: 10px;
}

.gender-text:first-child{
  margin-left: 0;
}

.gender-text span{
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  color: #545658;
}

.gender-text span::before{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0px;
  top:50%;
  content: "";
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  transform: translateY(-50%);
}

.gender-content:checked +
span::after{
  position: absolute;
  width: 8px;
  height: 8px;
  left: 4px;
  top: 50%;
  content: "";
  background-color: #0170bf;
  border-radius: 50%;
  transform: translateY(-50%);
}


.subscribe-text{
  padding-left: 25px;
  position: relative;
}

.subscribe-text::before{
  width: 15px;
  height: 15px;
  left: 0px;
  top: 50%;
  margin-top: -8px;
  content: "";
  position: absolute;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}

.subscribe-check input:checked + .subscribe-text::after{
  width: 6px;
  height: 13px;
  left: 6px;
  top: 50%;
  margin-top: -11px;
  content: "";
  position: absolute;
  border-right: 3px solid #0140bf;
  border-bottom: 3px solid #0140bf;
  transform: rotate(45deg);
}

.btn{
  width: 100%;
  padding: 13px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

.btn-submit{
  padding: 13px;
  background: #0170bf;
  color: #fff;
}

.btn-submit:active{
  background: #fff;
  color: #0170bf;
  border: 1px solid #d9d9d9;
}

.link{
  color: #0170bf;
  text-decoration: none;
}

.content-box, .account-box, .contact-box, .subscribe-box, .submit-box{
  margin-top: 50px;
}

input, select, button{
  padding: 0px;
  background: transparent;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}